USE [master]
GO
/****** Object:  Database [KRSDb]    Script Date: 2/7/2024 8:59:14 PM ******/
CREATE DATABASE [KRSDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KRSDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.XUANTUNG\MSSQL\DATA\KRSDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KRSDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.XUANTUNG\MSSQL\DATA\KRSDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KRSDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KRSDb]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[IsVerify] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[ProgressId] [int] NULL,
	[Status] [bit] NULL,
	[ProfilePicture] [varchar](255) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK__Account__349DA5A6F712406A] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnswerOption]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerOption](
	[AnswerOptionId] [int] IDENTITY(1,1) NOT NULL,
	[KnowledgeId] [int] NULL,
	[AnswerOption] [nvarchar](max) NULL,
	[isKey] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [varchar](255) NULL,
	[SubjectId] [int] NULL,
	[RoleId] [int] NULL,
	[Capacity] [int] NULL,
	[Status] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[SemesterId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassUser]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassUser](
	[ClassId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[IsTeacher] [bit] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discussion]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discussion](
	[DiscussionId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[UserId] [int] NULL,
	[ParentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscussionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domain]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domain](
	[DomainId] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DomainId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DomainType]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[ExamId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NULL,
	[ExamName] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
	[isPractice] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamConfig]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamConfig](
	[ExamConfigId] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NULL,
	[LessonId] [int] NULL,
	[QuestionCount] [int] NULL,
	[DomainId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuestion]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuestion](
	[ExamId] [int] NULL,
	[KnowledgeId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Knowledge]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knowledge](
	[KnowledgeId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[LessonId] [int] NULL,
	[DomainId] [int] NULL,
	[Knowledge] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[Answer] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[isVerified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KnowledgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[ClassId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[RoleId] [int] NOT NULL,
	[PageId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Progress]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progress](
	[ProgressId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingName] [varchar](255) NULL,
	[SettingType] [int] NULL,
	[SettingValue] [varchar](255) NULL,
	[AccountId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[SubjectName] [varchar](255) NULL,
	[AccountId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserExam]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserExam](
	[UserId] [int] NULL,
	[ExamId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserQuestion]    Script Date: 2/7/2024 8:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserQuestion](
	[UserId] [int] NULL,
	[ExamId] [int] NULL,
	[KnowledgeId] [int] NULL,
	[UserAnswer] [nvarchar](max) NULL,
	[isCorrect] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[AnswerOption]  WITH CHECK ADD FOREIGN KEY([KnowledgeId])
REFERENCES [dbo].[Knowledge] ([KnowledgeId])
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[ClassUser]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[ClassUser]  WITH CHECK ADD  CONSTRAINT [FK__ClassUser__UserI__4AB81AF0] FOREIGN KEY([UserId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[ClassUser] CHECK CONSTRAINT [FK__ClassUser__UserI__4AB81AF0]
GO
ALTER TABLE [dbo].[Discussion]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[Discussion]  WITH CHECK ADD  CONSTRAINT [FK__Discussio__UserI__4CA06362] FOREIGN KEY([UserId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Discussion] CHECK CONSTRAINT [FK__Discussio__UserI__4CA06362]
GO
ALTER TABLE [dbo].[Domain]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[DomainType] ([TypeId])
GO
ALTER TABLE [dbo].[DomainType]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[ExamConfig]  WITH CHECK ADD FOREIGN KEY([DomainId])
REFERENCES [dbo].[Domain] ([DomainId])
GO
ALTER TABLE [dbo].[ExamConfig]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exam] ([ExamId])
GO
ALTER TABLE [dbo].[ExamConfig]  WITH CHECK ADD FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lesson] ([LessonId])
GO
ALTER TABLE [dbo].[ExamQuestion]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exam] ([ExamId])
GO
ALTER TABLE [dbo].[ExamQuestion]  WITH CHECK ADD FOREIGN KEY([KnowledgeId])
REFERENCES [dbo].[Knowledge] ([KnowledgeId])
GO
ALTER TABLE [dbo].[Knowledge]  WITH CHECK ADD FOREIGN KEY([DomainId])
REFERENCES [dbo].[Domain] ([DomainId])
GO
ALTER TABLE [dbo].[Knowledge]  WITH CHECK ADD FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lesson] ([LessonId])
GO
ALTER TABLE [dbo].[Knowledge]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[Knowledge]  WITH CHECK ADD  CONSTRAINT [FK__Knowledge__UserI__5812160E] FOREIGN KEY([UserId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Knowledge] CHECK CONSTRAINT [FK__Knowledge__UserI__5812160E]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Progress]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[Progress]  WITH CHECK ADD  CONSTRAINT [FK__Progress__UserId__5CD6CB2B] FOREIGN KEY([UserId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Progress] CHECK CONSTRAINT [FK__Progress__UserId__5CD6CB2B]
GO
ALTER TABLE [dbo].[Setting]  WITH CHECK ADD  CONSTRAINT [FK__Setting__Account__5DCAEF64] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Setting] CHECK CONSTRAINT [FK__Setting__Account__5DCAEF64]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK__Subject__Account__5EBF139D] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK__Subject__Account__5EBF139D]
GO
ALTER TABLE [dbo].[UserExam]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exam] ([ExamId])
GO
ALTER TABLE [dbo].[UserExam]  WITH CHECK ADD  CONSTRAINT [FK__UserExam__UserId__60A75C0F] FOREIGN KEY([UserId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[UserExam] CHECK CONSTRAINT [FK__UserExam__UserId__60A75C0F]
GO
ALTER TABLE [dbo].[UserQuestion]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exam] ([ExamId])
GO
ALTER TABLE [dbo].[UserQuestion]  WITH CHECK ADD FOREIGN KEY([KnowledgeId])
REFERENCES [dbo].[Knowledge] ([KnowledgeId])
GO
ALTER TABLE [dbo].[UserQuestion]  WITH CHECK ADD  CONSTRAINT [FK__UserQuest__UserI__6383C8BA] FOREIGN KEY([UserId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[UserQuestion] CHECK CONSTRAINT [FK__UserQuest__UserI__6383C8BA]
GO
USE [master]
GO
