@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box-body">
    <table id="accountTable" class="table table-bordered table-hover acctable">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Is Verify</th>
                <th>Create Date</th>
                <th>Progress ID</th>
                <th>Status</th>
                <th>Profile Picture</th>
                <th>Role ID</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dữ liệu từ API sẽ được đặt vào đây -->
        </tbody>
        <tfoot>
            <tr>
                <th>Account ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Is Verify</th>
                <th>Create Date</th>
                <th>Progress ID</th>
                <th>Status</th>
                <th>Profile Picture</th>
                <th>Role ID</th>
            </tr>
        </tfoot>
    </table>
</div>